.jumbotron {
    margin-top: 150px;
    text-align: center;
    background-size: 100%;
    width: 100%;
    color: rgb(20, 20, 20);
    background: rgba(255, 255, 255, 0);
}

h1 {
    font-family: 'Suez One', serif;
    font-size: 3.5rem;
    margin-bottom: 0px;
}

h3 {
    font-family: 'Lato', sans-serif;
}